@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
--root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
/* 
### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
  padding: 2rem;
  text-align: center;
}


.pattern-divider {
  background-image: url('./assets/images/pattern-divider-desktop.svg');
  background-repeat: no-repeat;
  width: 150px;
  height: 10px;
}
.pattern-divider:first-child {
  margin-right:2px;
  border-right: 4px solid hsl(193, 38%, 86%);;
}
.pattern-divider:nth-child(2) {
  margin-left: 2px;
  border-left: 4px solid hsl(193, 38%, 86%);
}
.dice-icon {
  background-image: url('./assets/images/icon-dice.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(150, 100%, 66%);
  background-size: 15px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  padding: 18px;
  right:  45%;
  border-radius: 50%;
  transition: all 3ms ease-out;
}
.dice-icon:hover {
  box-shadow: 0 0 25px hsl(150, 100%, 66%);
  cursor: pointer;
  animation: spin 3s linear;
}
.card {
  padding: 2em;
  background-color: hsl(217, 19%, 24%);
}
.title {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}